*{margin:0;padding:0;box-sizing: border-box;}

/*****手机端*****/	
	/*top*/
	.top img{width:100%;display: block;}
	
	/*登录条*/
	.loginitem{margin-top:16px;overflow: hidden;}
	.loginitem a{text-decoration: none;float:left;margin-left: 20px;}
	.loginitem a i{font-size: 26px;color:#7b797a;}
	.loginitem p{color:#333230;font-size: 18px;font-family: "微软雅黑";float:right;margin-right: 45%;}
	
	/*logo*/
	.logo{margin-top: 60px;}
	.logo i{font-size: 100px;color:#d43b33;}
	.logo p{text-align: center;}
	/*button*/
	.button{margin-top: 70px;}
	.button p{font-size: 18px;width:300px;margin:20px auto;border:1px solid #D43B33;border-radius: 50px;}
	.button p a{text-decoration: none;color:#d43b33;font-family: "微软雅黑";text-align: center;display: block;line-height: 40px;}
	
	/*loginfunc*/

	.loginfunc fieldset{ border:1px solid #CBCBCB;border-bottom:0;border-left:0;border-right:0; padding-left:27%; width:80%;margin:0 auto;margin-top: 120px;}
	.loginfunc fieldset legend{font-size: 16px;font-family: "微软雅黑";color:#acacac;}
	.loginfunc .box05{width:50px;}
	.loginfunc .box05 a{text-decoration: none;border:1px solid #ACACAC;display: block;height:45px;width:45px;border-radius: 50px;margin-left: 3px;}
	.loginfunc .box05 a i{font-size: 28px;color:#656565;display: block;margin:4px 0;text-align: center;}
	.loginfunc .box05 p{font-size: 12px;font-family: "微软雅黑";text-align: center;margin-top: 10px;color: #a1a1a1;}
	.loginfunc .b_box05{display: flex;flex-direction: row;justify-content: space-around;margin: 20px 0 15px 0;}
	









/*****iPad*****/
@media only screen and (min-width: 481px) {		
	/*top*/
	.top img{width:100%;display: block;}
	
	/*登录条*/
	.loginitem{margin-top:25px;overflow: hidden;}
	.loginitem a{text-decoration: none;float:left;margin-left: 20px;}
	.loginitem a i{font-size: 40px;color:#7b797a;}
	.loginitem p{color:#333230;font-size: 32px;font-family: "微软雅黑";float:right;margin-right: 45%;}
	
	/*logo*/
	.logo{margin-top: 80px;}
	.logo i{font-size: 150px;color:#d43b33;}
	.logo p{text-align: center;}
	
	/*button*/
	.button{margin-top: 100px;}
	.button p{font-size: 32px;width:500px;margin:25px auto;border:2px solid #D43B33;border-radius: 50px;}
	.button p a{text-decoration: none;color:#d43b33;font-family: "微软雅黑";text-align: center;display: block;line-height: 60px;}
	
	/*loginfunc*/

	.loginfunc fieldset{ border:1px solid #CBCBCB;border-bottom:0;border-left:0;border-right:0; padding-left:30%; width:80%;margin:0 auto;margin-top: 170px;}
	.loginfunc fieldset legend{font-size: 25px;font-family: "微软雅黑";color:#acacac;}
	.loginfunc .box05{width:85px;}
	.loginfunc .box05 a{text-decoration: none;border:1px solid #ACACAC;display: block;height:85px;width:85px;border-radius: 85px;}
	.loginfunc .box05 a i{font-size: 60px;color:#656565;display: block;margin:7px 0;text-align: center;}
	.loginfunc .box05 p{font-size: 20px;font-family: "微软雅黑";text-align: center;margin-top: 10px;color: #a1a1a1;}
	.loginfunc .b_box05{display: flex;flex-direction: row;justify-content: space-around;margin: 50px 0 30px 0;}
	}
	




/*****PC端*****/
@media only screen and (min-width: 769px) {		
	/*top*/
	.top img{width:100%;display: block;}
	
	/*登录条*/
	.loginitem{margin-top:30px;overflow: hidden;}
	.loginitem a{text-decoration: none;float:left;margin-left: 30px;}
	.loginitem a i{font-size: 60px;color:#7b797a;}
	.loginitem p{color:#333230;font-size: 45px;font-family: "微软雅黑";float:right;margin-right: 46%;}
	
	/*logo*/
	.logo{margin-top: 130px;}
	.logo i{font-size: 220px;color:#d43b33;}
	.logo p{text-align: center;}
	
	/*button*/
	.button{margin-top: 130px;}
	.button p{font-size: 40px;width:700px;margin:25px auto;border:3px solid #D43B33;border-radius: 50px;}
	.button p a{text-decoration: none;color:#d43b33;font-family: "微软雅黑";text-align: center;display: block;line-height: 70px;}
	
	/*loginfunc*/

	.loginfunc fieldset{ border:1px solid #CBCBCB;border-bottom:0;border-left:0;border-right:0; padding-left:33%; width:80%;margin:0 auto;margin-top: 400px;}
	.loginfunc fieldset legend{font-size: 30px;font-family: "微软雅黑";color:#acacac;}
	.loginfunc .box05{width:110px;}
	.loginfunc .box05 a{text-decoration: none;border:1px solid #ACACAC;display: block;height:110px;width:110px;border-radius: 110px;}
	.loginfunc .box05 a i{font-size: 80px;color:#656565;display: block;margin:10px 0;text-align: center;}
	.loginfunc .box05 p{font-size: 26px;font-family: "微软雅黑";text-align: center;margin-top: 10px;color: #a1a1a1;}
	.loginfunc .b_box05{display: flex;flex-direction: row;justify-content: space-around;margin: 70px 0 70px 0;}
	}
	